@import url("https://fonts.googleapis.com/css2?family=Matemasie&&family=New+Amsterdam&display=swap");

.matemasie-regular {
	font-family: "Matemasie", sans-serif;
	font-weight: 600;
	font-style: normal;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

header {
	background: #00329e;
	width: 100%;
	height: 4rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Matemasie", sans-serif;
	letter-spacing: 0.2rem;
}

header h1 {
	color: #fff;
}

main {
	font-family: "New Amsterdam", sans-serif;
	letter-spacing: 0.1rem;
}

.add-movie {
	text-align: center;
	box-shadow: 0 0 10px rgba(0, 50, 158, 0.274);
	margin: 1rem auto;
	width: 53vw;
	border-radius: 1rem;
}

.add-movie h2 {
	margin: 0.5rem;
}

.add-movie button {
	margin: 1rem;
	padding: 0.5rem 1rem;
	background: #f67722;
	border: 1px solid #f67722;
	color: white;
	border-radius: 6px;
	box-shadow: 0 1px 8px rgba(0, 0, 0, 0.26);
	cursor: pointer;
	font-weight: 600;
}

.add-movie button:hover,
.add-movie button:active {
	background: #f3cc4b;
	border-color: #f3cc4b;
	color: #995200;
}

.card {
	margin: 0 7rem;
	padding: 1rem;
	border-radius: 1rem;
	box-shadow: 0 0 5px rgba(247, 99, 0, 0.801);
}

.card label {
	text-align: left;
	font-size: larger;
	margin-right: 0.5rem;
	display: block;
	color: #f67722;
}

.card input {
	width: 100%;
	margin-bottom: 0.5rem;
	padding: 0.4rem 0.2rem;
	color: #383838;
	border: 1px solid #f67722;
}

.card input:focus {
	outline: none;
	background: #fff1c4;
}

.card button {
	margin: 0;
	background-color: #00329e;
	border: none;
}

.card button:hover {
	background-color: #aec6f8;
	color: #000;
}

.movie-list {
	list-style-type: none;
	width: 46.5rem;
	max-width: 90%;
	border-radius: 1rem;
	margin: 1rem auto;
	padding: 0.2rem 0.5rem;
}

.movie-element {
	display: flex;
	margin: 0.5rem 0;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
	border-radius: 0.5rem;
}

.movie-element h2,
.movie-element p {
	font-size: 1.25rem;
	margin: 0;
}

.movie-element h2 {
	color: #383838;
	margin-bottom: 1rem;
}

.movie-element p {
	color: white;
	display: inline;
	background: #f67722;
	padding: 0.25rem 1rem;
	border-radius: 15px;
}

.movie-element__image {
	flex: 0.5;
	border-radius: 10px 0 0 10px;
	overflow: hidden;
	padding: 0.2rem;
}

.movie-element__image img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.movie-element__info {
	flex: 2;
	padding: 1rem;
}

.movie-element__del {
	flex: 0.3;
	text-align: center;
}

.movie-element__del button {
	background: none;
	border: none;
	padding: 1.7rem 1rem;
	cursor: pointer;
	border-radius: 0.5rem;
}

.movie-element__del button:hover {
	background-color: rgb(255, 0, 0);
}
