@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@500;700&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "cinzel Decorative", sans-serif;
}

body {
	color: #111;
	background-color: #3eaad4;
	border-top: 10px solid #f4a226;
	border-bottom: 10px solid #f4a226;
}

h1 {
	color: #f4a226;
	background-color: #000000;
	text-align: center;
	font-size: 4rem;
	text-transform: uppercase;
	font-weight: 600;
	word-spacing: 3rem;
	letter-spacing: 0.8rem;
}

h3 {
	color: #f4a226;
}

main {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 80vh;
}

.search-form {
	background-color: #f3b65b;
	text-align: center;
	height: 65vh;
	width: 30vw;
	padding: 3rem 1rem;
	border: 10px groove #f4a226;
}

input,
button {
	font-size: 1.2rem;
	word-spacing: 0.1rem;
	text-align: center;
	width: 100%;
	padding: 1rem 2rem;
	margin: 3rem 0;
	border: none;
	background-color: #66c0e4;
}

input::placeholder {
	color: #000;
}

input:focus {
	outline: 1px solid #000;
	background-color: #e7e7e7;
}

button:hover {
	color: #eee;
	background-color: #3eaad4;
	outline: 1px solid #000;
}

.weather {
	height: 65vh;
	width: 60vw;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.today {
	height: 40vh;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 9fr;
}

.title {
	text-align: center;
	letter-spacing: 0.3rem;
	word-spacing: 0.8rem;
	grid-column: 1/-1;
	background-color: #000;
}

.info,
.add-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #b3e6fa;
}

.info .date {
	font-size: 3rem;
}

.info .icon {
	font-size: 5rem;
}

.info .text {
	font-size: 1.5rem;
}

.info .smalltext {
	font-size: 1rem;
}

.add-info {
	width: 32vw;
	padding-left: 1rem;
	background-color: #83c7e2;
	align-items: flex-start;
}

.add-info .icon {
	font-size: 2.6rem;
}

.add-info .text {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: 600;
	font-size: 1rem;
	margin-bottom: 0.5rem;
}

.add-info .text-ans {
	color: #c4790a;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 1.1rem;
	display: inline-block;
}

.forecast {
	list-style: none;
	height: 25vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.day {
	background-color: #7bdaff;
	width: 9vw;
	height: 22vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.day:hover {
	outline: 1px solid #333;
}

.day .date {
	margin-top: 0.5rem;
	font-size: 2rem;
}

.day .icon {
	font-size: 3rem;
}

.day .text {
	margin-top: 0.5rem;
	font-size: 1rem;
}

footer {
	color: #f4a226;
	background-color: #000;
	text-align: center;
	font-size: 1rem;
	padding: 0.7rem;
}
