.nav {
	background-color: #b7b7b7;
	width: 30vw;
	padding: 2rem 2rem 0;
	margin: 2rem auto 0;
	border-radius: 3rem 3rem 0 0;
}

.nav ul {
	list-style: none;
	display: flex;
	justify-content: space-around;
	color: #fff;
	background-color: #555;
	border-radius: 1rem;
}

.nav a:link,
.nav a:visited {
	display: block;
	color: inherit;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 1.2rem;
	font-weight: 700;
	padding: 0.5rem 3.7rem;
	border-radius: 1rem;
}

.nav a:global(.active) {
	background-color: #b90404;
}
