.nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #fff;
	padding: 0.5rem 2rem;
	/* border-radius: 5rem; */
}

.nav ul {
	list-style: none;
	display: flex;
	align-items: center;
	gap: 4rem;
}

.nav a:link,
.nav a:visited {
	text-decoration: none;
	color: #000;
	text-transform: capitalize;
	font-size: 1.5rem;
	font-weight: 600;
}

/* CSS Modules feature */
.nav a:global(.active) {
	color: #fff;
	background-color: #fa3d37;
	padding: 0.8rem;
	border-radius: 2rem;
}

a.ctaLink:link,
a.ctaLink:visited {
	background-color: #1daf00;
	color: #ffffff;
	padding: 0.8rem 2rem;
	border-radius: 7px;
}

.nav a.ctaLink:global(.active) {
	color: #fff;
	background-color: #fa3d37;
	padding: 0.8rem 2rem;
	border-radius: 7px;
}

a.ctaLink:hover {
	color: #444;
	background-color: #3bee18;
}
