@import url("https://fonts.googleapis.com/css2?family=Nerko+One&family=New+Amsterdam&display=swap");

* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

body {
	background-color: #ffdeeb;
}

header {
	background-color: #ff0062;
	color: #ffffff;
	letter-spacing: 0.3rem;
	height: 10vh;
	width: 98vw;
	margin: 1vh 1vw;
	border-radius: 1rem;
	display: flex;
	justify-content: space-between;
}

header h1 {
	font-family: "Nerko One", system-ui;
	margin-left: 1vw;
	padding-top: 0.3rem;
}

.search {
	position: relative;
	padding-top: 1.2vh;
	width: 32vw;
}

.search-input {
	width: 30vw;
	height: 5vh;
	border-radius: 1rem;
	padding: 6px 10px;
	font-size: x-large;
	border: none;
	outline: none;
	background-color: #ffffff;
}

.search-input:focus {
	background-color: #ffe3ee;
}

.search button {
	position: absolute;
	right: 0;
	top: 7px;
	cursor: pointer;
	height: 7vh;
	font-size: x-large;
	aspect-ratio: 2;
	border: none;
	border-radius: 1rem;
	background-color: #d4d3d3;
}

.search button:hover {
	background-color: #a5a5a5;
}

.numresult {
	letter-spacing: normal;
	margin-right: 1vw;
	padding-top: 3vh;
}

main {
	display: flex;
	height: 88vh;
	width: 100vw;
}

.display {
	width: 65vw;
}

.container {
	width: 50vw;
	padding: 0.5rem 0.5vw;
	margin: 1rem 3rem;
	border-radius: 1rem;
}

.note-list {
	border: 2px solid #ff0062;
	background-color: #fff;
	width: 50vw;
	max-height: 65vh;
	list-style-type: none;
	overflow-y: auto;
	overflow-x: hidden;
	scrollbar-width: thin;
}

.note {
	width: 47.2vw;
	border: 2px solid #ff0062;
	margin: 0.5rem 0.5vw;
	padding: 0.3rem 0.5vw;
	border-radius: 0.5rem;
}

.note-element {
	display: flex;
}

.note-element__info {
	flex: 5;
}

.note-element__btn {
	flex: 0.5;
}

.note h1 {
	color: #ff3217;
}

.note p {
	padding: 0 0.5rem;
	font-size: large;
	word-wrap: break-word;
	color: #0011ff;
}

.note-btn {
	background-color: #fff;
	cursor: pointer;
	width: 3vw;
	aspect-ratio: 1;
	border-radius: 3rem;
	border: none;
}

.note-btn.view:hover {
	background-color: #5bff32;
}

.note-btn.del:hover {
	background-color: #ff3217;
}

.actions {
	width: 35vw;
}

.form-add-note {
	width: 28vw;
	margin: 1rem 2vw;
	padding: 1vh 1vw;
	border-radius: 1rem;
	background-color: #fff;
	box-shadow: 0 0 8px #ff0062;
	text-align: center;
}

label {
	font-size: 25px;
	display: block;
	margin: 5px auto 10px auto;
	color: #ff0062;
	text-align: left;
}

.text {
	height: 25px;
	width: 27vw;
	font-size: 25px;
	font-weight: 600;
	padding: 0 0.2vw 0.3rem 0.3vw;
	border: none;
	outline: none;
	background-color: #fff;
	border-bottom: 1px solid #ff0062;
	color: #ff2600;
}

.textarea {
	font-size: 16px;
	width: 27vw;
	border: 1px solid #ff0062;
	outline: none;
	padding: 0.3rem 0.3vw;
	background-color: #fff;
	color: #0011ff;
}

.btn {
	margin: 1rem auto;
	height: 8vh;
	border-radius: 1rem;
	box-shadow: 0 0 3px #ff0062;
	cursor: pointer;
}

.addnotes-btn {
	font-weight: 800;
	background-color: #ff0062;
	color: #fff;
	width: 8vw;
	border: none;
}

.addnotes-btn:hover {
	background-color: #ff66a1;
	color: #000;
}

.action-btn {
	position: absolute;
	right: 0.5vw;
	margin: 1rem 2.5vw;
	width: 30vw;
	background-color: #fff;
	border: 1px solid #ff0062;
}

.action-btn:hover {
	border: 2px solid #ff0062;
	box-shadow: 0 0 5px #ff0062;
	background-color: #ffb9d4;
}
